body{
    text-align: center;
    margin: 0;
    background: rgb(59, 6, 89);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#calculator{
    max-width: 360px;
    background-color: #2e4f71;
    border-radius: 10px;
    padding: 20px;
    margin-top: 100px;
    box-shadow: 0 10px 20px rgba(0, 0,0,0.19), 0 60px 60px rgba(0, 0, 0, 0.23);
}

#display{
    width: 100%;
    height: 56px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    color: #e0e1dd;
    border: none;
    box-sizing: border-box;
    background-color: rgba(14, 14, 15, 0.988);
}
.operator{
    color: #2da8c6;
}
#ac{
    color: #bf4d5d;
}
.equal{
    width: calc(50% - 10px);
}
button{
    width: calc(25% - 10px);
    height: 50px;
    font-size: 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    float: left;
    background-color: rgb(13, 29, 47);
    color: #e0e1dd;
    box-shadow: -1px 1px 30px -5px rgba(0, 0, 0, 0.2);
}
button:hover{
    cursor: pointer;
}
button:active{
    transform: scale(1.05);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.19), 0 1.5px 1.5px rgba(0, 0, 0, 0.23);
}